<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game service | Home</title>

  <!-- STYLES -->
  <link rel="stylesheet" href="styles/home.css">
  <!-- SCRIPTS -->
  <script src="scripts/home-paths.js" defer></script>

</head>
<body>

  <h1 id="title">HOME PAGE</h1>
  <button id="login-btn">Sing in</button>
  <button id="registration-btn">Sing up</button>

</body>
</html>