<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game service | Home</title>
</head>
<body>
  <h1>HOME PAGE</h1>
  <a href="http://localhost:<%= port %>/404"><button>Sing in</button></a>
  <a href="http://localhost:3000/404"><button>Sing up</button></a>
  <script>if(port) console.log(port)</script>
</body>
</html>